<%- include("partials/header") %>
<div id="colorlib-main">
    <section class="ftco-section-2">
        <div class="photograhy">
            <div class="row no-gutters">
                <% for(var i = 1; i <= 6; i++) { %>
                    <div class="col-md-4 ftco-animate">
                        <a href="<%= characters[i].image['original_url'] %>"
                            class="photography-entry img image-popup d-flex justify-content-center align-items-center"
                            style="background-image: url('<%= characters[i].image['original_url'] %>')">
                            <div class="overlay"></div>
                            <div class="text text-center">
                                
                                <span class="tag">Character</span>
                            </div>
                        </a>
                        <h6>
                            <%= characters[i].deck %>
                        </h6>
                    </div>
                <%}%>
            </div>
        </div>
    </section>
    <%- include("partials/footer") %>
</div>